html {
  box-sizing: border-box;
  font: normal 100%/1.5 Merriweather;
  line-height: 1.5;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
text-decoration: none;
background-color: #d05c2e;
text-align: center;
}

.image {
  width: 40px;
}

.img-flex {
  display: block;
  width: 100%;
}

.title .grain {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.grain {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
}

.nav {
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #d05c2e;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: Merriweather, serif;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  flex-grow: 2;
  margin: 0;
  padding: .5em 0;
}

ul {
  display: flex;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  display: inline-block;
  text-align: center;
  flex-grow: 1;
}

a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: .4rem 0;
  border: 1px solid #a63f38;
}

a:hover {
  background-color: #a63f38;
}
